@import 'tailwindcss';
/* import Konsta UI theme */
@import 'konsta/svelte/theme.css';

body {
	display: flex;
}

.column {
	display: flex;
	display-direction: column;
}

.row {
	display: flex;
	display-direction: column;
}
