name: "test"
on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push: 
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Extend space
        uses: ./.github/actions/extend-space

      - name: Install nix
        uses: cachix/install-nix-action@v27
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-25.11

      - name: Test
        run: |
          nix develop --no-update-lock-file --accept-flake-config --command bash -c "cargo test"

      - name: Install
        run: |
          nix develop --no-update-lock-file --accept-flake-config --command bash -c "pnpm install"

      - name: Build UI packages
        run: |
          nix develop --no-update-lock-file --accept-flake-config --command bash -c "pnpm --recursive build"
